/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & Krishna
 */

.slide_show_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-background-color: rgb(255,225,120);
    -fx-border-color: rgb(50, 5, 5);
    -fx-spacing:10px;
    -fx-padding:10px;
    -fx-alignment: CENTER;
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-background-color: rgb(255, 102, 0);
    -fx-border-color: rgb(70, 5, 5);
    -fx-border-thickness: 10px;
    -fx-spacing: 60px;
}

.vertical_toolbar_button {
    -fx-background-color: rgb(255, 0, 255);
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 50px;
}

.horizontal_toolbar_button {
    -fx-padding-left: 10px;
    -fx-padding-right: 20px;
}

.language_prompt_vbox{
    -fx-background-color: rgb(255,225,78);
    -fx-padding: 12px 12px 12px 12px;
    -fx-font-family:"Harrington";
    -fx-font-size: 12pt; 
    -fx-alignment: CENTER;
}

.top_toolbar{
    -fx-background-color: rgb(255,225,0);
    -fx-hgap:10;
    -fx-padding: 5px 5px 5px 5px;
}

.ssm_pane{
    -fx-background-color: rgb(255,225,78);
}

.ssm_slide_editor_pane{
    -fx-padding: 3px 3px 3px 3px;
    -fx-spacing: 5px;
}

.ssm_scroll_pane{
    -fx-background: rgb(270,200,120); 
}

.ssm_text_field{
    -fx-font-family: Harrington;
    -fx-font-size: 14pt;
}

.ssm_label{
    -fx-font-family: Harrington;
    -fx-font-size: 20pt;
}

.ssm_exit_vbox{
    -fx-background-color: rgb(255,225,120);
    -fx-padding: 12px 12px 12px 12px;
    -fx-font-family:"Harrington";
    -fx-font-size: 12pt; 
    -fx-alignment: CENTER;
}
.ssm_exit_label{
    -fx-font-family: Harrington;
    -fx-font-size: 16pt;
}

.ssm_exit_buttons{
    -fx-font-family: Harrington;
    -fx-font-size: 14pt;
}

.ssm_exit_hbox{
    -fx-alignment:CENTER;
    -fx-spacing:5px;
}